//
// Card
//


.card-translucent {
    background-color: rgba(18, 91, 152, 0.08);
}


.card-header {
    border-bottom: 0;
}

.card-body {
    background-color: #fff;
    padding: 0;
}

.card-mt {
    margin-bottom: 0px !important;
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
}

.card-mt:hover {
    margin-bottom: 0px !important;
    background-color: transparent;
    color: $black;
    border: 1px solid $black;
    transition: none;
}